img {
  max-width: 200px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}
.navBar__links p {
 display: inline-block;
 font-size: 18px;
 margin: 15px 10px;
}
.navBar__header {
  /*margin-left: 15px;*/
}
